Source: python-bildungslogin
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.9.8
Build-Depends:
 debhelper,
 dh-python,
 python-all,
 python-attr,
 python-setuptools,
 python-debian,
 python-mock,
 python-pytest,
 python-typing,
 python-ldap,
 python-univention-directory-manager,
 python-ucs-school,
 python-ucsschool-lib,
 ucslint,
 univention-ucs-translation-template,
 python-jsonschema,

Package: python-bildungslogin
Architecture: all
Provides:
 ${python:Provides},
Depends:
 ${misc:Depends},
 ${python:Depends},
 python-attr,
 python-typing,
 python-univention-directory-manager,
 python-ldap,
 python-configparser,
 python-ucsschool-lib,
 python-ucs-school,
 udm-bildungslogin-encoders (>=0.0.6),
 univention-config,
 univention-directory-listener,
 python-jsonschema,
Description: python libs for bildungslogin
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: ucs-test-bildungslogin-python
Architecture: all
Depends:
 ${misc:Depends},
 ucs-test-framework,
 ucs-test-ucsschool,
 python-pytest,
 python-bildungslogin,
 udm-bildungslogin-encoders,
Description: test the python libs for bildungslogin
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
