Source: python-bildungslogin
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.9.8
Build-Depends:
 debhelper,
 dh-python,
 python-all,
 python-setuptools,
 python-debian,
 python-pytest,
 python-typing,
 python-ldap,
 python-univention-directory-manager,

Package: python-bildungslogin
Architecture: all
Provides:
 ${python:Provides},
Depends:
 ${misc:Depends},
 ${python:Depends},
 python-typing,
 python-univention-directory-manager,
 python-ldap,
Description: python libs for bildungslogin
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/

Package: ucs-test-vbm-python
Architecture: all
Depends:
 ${misc:Depends},
 ucs-test-framework,
 python-pytest,
 python-bildungslogin,
 udm-bildungslogin,
Description: test the python libs for bildungslogin
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
