Source: bildungslogin-plugin
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends: debhelper (>= 9),
 ca-certificates,
 ucslint
Standards-Version: 3.8.2

Package: bildungslogin-plugin
Architecture: all
Depends:
 ${misc:Depends},
 makepasswd,
 bildungslogin-plugin-openapi-client (= ${binary:Version}),
Description: This package provides the bildungslogin plugin for the univention ucsschool-api.
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: bildungslogin-plugin-openapi-client
Architecture: all
Depends:
 ${misc:Depends},
Description: This package provides the JAR used to build the OpenAPI client used by bildungslogin-plugin.
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: http://www.univention.de/

Package: ucs-test-vbm-prov-api
Architecture: all
Depends:
 ${misc:Depends},
 ucs-test-framework,
 bildungslogin-plugin (= ${binary:Version}),
Description: Runs the tests of the bildungslogin plugin in the Docker container.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
