.licensesTable {
  display: flex;
  gap: 0 8px;
  margin-bottom: 8px;
}

.licensesTable__coverWrapper {
  flex: 0 0 auto;
  width: 130px;
  /* DIN A4 aspect ratio */
  max-height: calc(130px * (297 / 210));
}

.licensesTable__cover {
  max-width: 100%;
  max-height: 100%;
}

.licensesTable__coverFallback {
  height: 100%;
  width: 100%;
  background: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.7);
}

.licensesTable__data {
  width: 100%;
  height: min-content;
}

.licensesTable__data {
  display: grid;
  grid-template-columns: auto auto auto;
}

.licensesTable__row {
  display: grid;
  grid-template-columns: 150px 1fr;
  height: min-content;
}


.licensesTable__dataLabel {
  font-weight: 500;
}

.licensesCover {
  max-width: 380px;
  max-height: 380px;
}

.licensesShowSelection {
  cursor: pointer;
  color: #5a5a5a;
}

form[name="workgroupForm"] .dijitButton {
  margin: 2px !important;
}

form[name="schoolForm"] .dijitButton {
  margin: 2px !important;
}

form[name="schoolSelectionForm"] .dijitButton {
  margin: 2px !important;
}

form[name="searchForm"] .dijitButton {
  margin: 2px !important;
}

.umcFilters .dijitButtonContents {
  display: flex;
}

.umcFilters .dijitButton {
  margin: 2px;
}

.umcFilters .dijitButtonContents .umcDoubleRightIcon {
  order: 2;
}

.umcFilters .dijitButtonContents .dijitButtonText {
  order: 1;
  margin: 2px;
  text-transform: none;
}

.description-columns {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 25px;
  margin-top: 30px;
}

.bildungslogin-red {
  color: red;
}

.bildungslogin-green {
  color: green;
  font-weight: bold;
}
