.licensesTable {
	display: flex;
	gap: 0 8px;
	margin-bottom: 8px;
}

.licensesTable__coverWrapper {
	flex: 0 0 auto;
	width: 130px;
	/* DIN A4 aspect ratio */
	max-height: calc(130px * (297 / 210));
}

.licensesTable__cover {
	max-width: 100%;
	max-height: 100%;
}

.licensesTable__coverFallback {
	height: 100%;
	width: 100%;
	background: white;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgba(0, 0, 0, 0.7);
}

.licensesTable__data {
	flex: 1 1 auto;
	display: grid;
	grid-template-columns: auto auto auto 1fr;
	gap: 0px 16px;
	height: min-content;
}

.productsTable__data {
	flex: 1 1 auto;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0px 16px;
	height: min-content;
}

.licensesTable__dataLabel {
	font-weight: 500;
}

.licensesCover {
	max-width: 380px;
	max-height: 380px;
}
